@{
    ViewData["Title"] = "Accueil - DVNA";
}

<h1 class="mb-4">Path traversal</h1>

<p>
Une attaque path traversal ou directory traversal vise à accéder et lire des fichiers stockés en dehors de l'arborescence exposée.
</p>

<div class="alert alert-danger mt-4" role="alert">
    <strong>Path traversal :</strong> Acceder au contenue <u>confidentiel</u>.
    En vous baladent sur les le url. dossier /sys/
</div>


